<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="FacebookLoginTestCase">
		<groups>
			<define name="all">
				<include name="SmokeTest" />
				<include name="RegressionTest" />
			</define>
		<!-- 	<run>
				<exclude name="SanityTest" />
				<exclude name="RegressionTest" />
				<exclude name="SecurityTest" />
			</run> -->
		</groups>
		<classes>
			<class name="com.testNG.FacebookLoginTestCase" />
		</classes>
	</test>

</suite>